<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RBV_AccesoDatos.Properties.Settings.RBVConnectionString"
            connectionString="Data Source=290DPINEDA_P\SQLEXPRESS;Initial Catalog=RBV;Persist Security Info=False;User ID=USR_RBV;Password=USR_RBV"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>